.menu{

    background-color: #6f4e37;
}

.item{
    background-color: #6f4e37;
}
.accordion-button:not(.collapsed) {
    color: #ffffff;
    background-color: #29008a;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}