.menu{

    background-color: #f5f5dc;
}
.menuOptions{

    background-color: #f5f5dc;
}
.checkout{

    background-color: #8db600;
}
.iced{

    background-color: #6f4e37;
}
.hot{

    background-color: #6f4e37;
}
